
<div class="container mt-5">
  <h6>User Type <samp> Individual Business </samp></h6>
  <p>Tell us about your business</p>
  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="card h-100">
        <div class="card-header bg-warning text-white">
          <h5 class="card-title text-center">Basic</h5>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Feature Name 1</li>
            <li class="list-group-item">Feature Name 1</li>
            <li class="list-group-item">Feature Name 1</li>
          </ul>
          <h5 class="card-text text-center mt-3">5000 RS/month</h5>
          <div class="d-grid gap-2 mt-3">
            <button class="btn btn-success" type="button">Select</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card h-100">
        <div class="card-header bg-danger text-white">
          <h5 class="card-title text-center">Premium</h5>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Feature Name 1</li>
            <li class="list-group-item">Feature Name 1</li>
            <li class="list-group-item">Feature Name 1</li>
          </ul>
          <h5 class="card-text text-center mt-3">10000 RS/month</h5>
          <div class="d-grid gap-2 mt-3">
            <button class="btn btn-success" type="button">Select</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card h-100">
        <div class="card-header bg-info text-white">
          <h5 class="card-title text-center">Enterprise</h5>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Feature Name 1</li>
            <li class="list-group-item">Feature Name 1</li>
            <li class="list-group-item">Feature Name 1</li>
          </ul>
          <h5 class="card-text text-center mt-3">20000 RS/month</h5>
          <div class="d-grid gap-2 mt-3">
            <button class="btn btn-success" type="button">Select</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-grid gap-2 mt-3">
    <button matStepperPrevious class="btn btn-primary" type="button">Back</button>
    <button matStepperNext class="btn btn-primary" type="button">Next</button>
  </div>
</div>
