/* You can add global styles to this file, and also import other style files */

html, body { height:97vh; padding: 10px ; background: #fbfbfb; }
body { margin: 0; font-family: Calibri, sans-serif;
}
